# Виртуальное окружение
venv/
.venv/

# Кэш Python
__pycache__/
*.pyc

# Файлы окружения
.env
.env.local

# Логи и временные файлы
*.log
*.tmp

# IDE-специфичные файлы
.vscode/
.idea/

# Папка s0109-23
s0109/